<!DOCTYPE html>
<html>

<head>

    <title>Secure Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="container">

    <h1>🔐 Secure Dashboard</h1>

    <h3>
        Welcome {{ user }} 👋
    </h3>

    {% if login_message %}

        <div class="flash-message">
            {{ login_message }}
        </div>

    {% endif %}

    <!-- ========================= -->
    <!-- E2EE UPLOAD -->
    <!-- ========================= -->

    <div class="card">

        <h2>

            <i class="fa-solid fa-upload"></i>

            End-to-End Encrypted Upload

        </h2>

        <div class="upload-form">

            <input type="file"
                   id="fileInput"
                   required>

            <input type="password"
                   id="password"
                   placeholder="Encryption password"
                   required>

            <button type="button"
                    onclick="encryptAndUpload()">

                <i class="fa-solid fa-cloud-arrow-up"></i>

            </button>

        </div>

    </div>

    <!-- ========================= -->
    <!-- FILES -->
    <!-- ========================= -->

    <div class="card">

        <h2>

            <i class="fa-solid fa-folder"></i>

            Your Files

        </h2>

        {% if files %}

            {% for file in files %}

                <div class="file-row">

                    <!-- FILE NAME -->

                    <div class="file-name">

                        <i class="fa-solid fa-file"></i>

                        <div>

                            <div>

                                {{ file }}

                            </div>

                            <small>

                                Uploaded:

                                {% for t in file_times %}

                                    {% if t.filename == file %}

                                        {{ t.uploaded_at[:10] }}

                                        |

                                        {{ t.uploaded_at[11:16] }}

                                    {% endif %}

                                {% endfor %}

                            </small>

                        </div>

                    </div>

                    <!-- DOWNLOAD -->

                    <div class="inline-form">

                        <input type="password"
                               id="password-{{ loop.index }}"
                               placeholder="File password"
                               required>

                        <button type="button"
                                class="icon-btn download-btn"

                                onclick="downloadAndDecrypt(
                                    '{{ file }}',
                                    'password-{{ loop.index }}'
                                )">

                            <i class="fa-solid fa-download"></i>

                        </button>

                    </div>

                    <!-- SHARE -->

                    <form class="inline-form share-form">

                        <input type="hidden"
                               name="filename"
                               value="{{ file }}">

                        <input type="password"
                               name="share_password"
                               placeholder="Share password"
                               required>

                        <select name="expiry">

                            <option value="one_time">
                                One Time
                            </option>

                            <option value="24h">
                                24 Hours
                            </option>

                            <option value="7d">
                                7 Days
                            </option>

                        </select>

                        <button type="submit"
                                class="icon-btn share-btn">

                            <i class="fa-solid fa-share-nodes"></i>

                        </button>

                    </form>

                    <!-- DELETE -->

                    <form action="/delete/{{ file }}"
                          method="POST">

                        <button type="submit"
                                class="icon-btn delete-btn">

                            <i class="fa-solid fa-trash"></i>

                        </button>

                    </form>

                </div>

            {% endfor %}

        {% else %}

            <p>No files uploaded yet</p>

        {% endif %}

    </div>

    <!-- ========================= -->
    <!-- SHARED LINKS -->
    <!-- ========================= -->

    <div class="card">

        <h2>

            <i class="fa-solid fa-link"></i>

            Shared Links

        </h2>

        {% if shared_links %}

            {% for link in shared_links %}

                <div class="shared-box">

                    <div>

                        <h4>

                            <i class="fa-solid fa-file"></i>

                            {{ link.filename }}

                        </h4>

                        <p>

                            {% if link.one_time %}

                                One Time Access

                                <br><br>

                                Created:

                                {{ link.created_at[:10] }}

                                |

                                {{ link.created_at[11:16] }}

                            {% else %}

                                Expires:

                                {{ link.expiry_time[:10] }}

                                |

                                {{ link.expiry_time[11:16] }}

                            {% endif %}

                        </p>

                    </div>

                    <a href="{{ url_for('shared', token=link.token) }}"
                       target="_blank"
                       class="open-link">

                        <i class="fa-solid fa-arrow-up-right-from-square"></i>

                    </a>

                </div>

            {% endfor %}

        {% else %}

            <p>No shared links yet</p>

        {% endif %}

    </div>

    <!-- ========================= -->
    <!-- LOGS -->
    <!-- ========================= -->

    <div class="card">

        <h2>

            <i class="fa-solid fa-chart-column"></i>

            Activity Logs

        </h2>

        {% if logs %}

            {% for log in logs %}

                <div class="log-box">

                    <strong>

                        {{ log.action }}

                    </strong>

                    →

                    {{ log.filename }}

                    <span>

                        {{ log.time }}

                    </span>

                </div>

            {% endfor %}

        {% else %}

            <p>No activity yet</p>

        {% endif %}

    </div>

    <!-- ========================= -->
    <!-- LOGOUT -->
    <!-- ========================= -->

    <form action="/logout">

        <button class="logout">

            <i class="fa-solid fa-right-from-bracket"></i>

            Logout

        </button>

    </form>

</div>

<!-- ================================= -->
<!-- E2EE JAVASCRIPT -->
<!-- ================================= -->

<script>

let globalIV = null;

// =====================================
// ENCRYPT + UPLOAD
// =====================================

async function encryptAndUpload() {

    const fileInput =
        document.getElementById('fileInput');

    const password =
        document.getElementById('password').value;

    const file =
        fileInput.files[0];

    if (!file) {

        alert("Select a file");

        return;
    }

    const fileBuffer =
        await file.arrayBuffer();

    const keyMaterial =
        await window.crypto.subtle.importKey(

            "raw",

            new TextEncoder().encode(password),

            { name: "PBKDF2" },

            false,

            ["deriveKey"]

        );

    const aesKey =
        await window.crypto.subtle.deriveKey(

            {
                name: "PBKDF2",
                salt: new Uint8Array(16),
                iterations: 100000,
                hash: "SHA-256"
            },

            keyMaterial,

            {
                name: "AES-GCM",
                length: 256
            },

            true,

            ["encrypt", "decrypt"]

        );

    const iv =
        window.crypto.getRandomValues(
            new Uint8Array(12)
        );

    globalIV = Array.from(iv);

    const encrypted =
        await window.crypto.subtle.encrypt(

            {
                name: "AES-GCM",
                iv: iv
            },

            aesKey,

            fileBuffer

        );

    const formData = new FormData();

    formData.append(
        "file",
        new Blob([encrypted]),
        file.name + ".enc"
    );

    formData.append(
        "iv",
        JSON.stringify(globalIV)
    );

    fetch("/upload", {

        method: "POST",

        body: formData

    }).then(async (response) => {

        const data =
            await response.json();

        const popup =
            document.createElement("div");

        popup.className =
            "success-popup";

        popup.innerHTML =
            data.message;

        if (!data.success) {

            popup.style.background =
                "#ff4b5c";

        }

        document.body.appendChild(
            popup
        );

        setTimeout(() => {

            popup.remove();

            if (data.success) {

                window.location.reload();

            }

        }, 5000);

    });

}

</script>

<script>

document.querySelectorAll(
    ".share-form"
).forEach(form => {

    form.addEventListener(
        "submit",

        async function(e) {

            e.preventDefault();

            const formData =
                new FormData(form);

            const response =
                await fetch("/share", {

                    method: "POST",

                    body: formData

                });

            const data =
                await response.json();

            const popup =
                document.createElement("div");

            popup.className =
                "success-popup";

            popup.innerHTML =
                data.message;

            document.body.appendChild(
                popup
            );

            setTimeout(() => {

                popup.remove();

            }, 3000);

            setTimeout(() => {

                window.location.reload();

            }, 3500);

        }
    );

});

</script>

</body>

</html>