<!DOCTYPE html>
<html>
<head>
    <title>Secure Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🔐 Secure Dashboard</h1>
    <h3>Welcome {{ user }} 👋</h3>

    <!-- Upload Section -->
    <div class="card">
        <h2>Upload File</h2>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <input type="password" name="password" placeholder="Enter encryption password" required>
            <button type="submit">Upload File</button>
        </form>
    </div>

    <!-- File List -->
    <div class="card">
        <h2>📁 Your Files</h2>

        {% if files %}
            {% for file in files %}
                <div class="file-box">

                    <h4>{{ file }}</h4>

                    <!-- Download -->
                    <form action="/download/{{ file }}" method="POST">
                        <input type="password" name="password" placeholder="Enter password" required>
                        <button type="submit">Download</button>
                    </form>

                    <!-- Share -->
                    <form action="/share" method="POST">
                        <input type="hidden" name="filename" value="{{ file }}">

                        <input type="password" name="share_password" placeholder="Share password" required>

                        <select name="expiry">
                            <option value="24h">24 Hours</option>
                            <option value="7d">7 Days</option>
                        </select>

                        <button type="submit">Share</button>
                    </form>

                </div>
            {% endfor %}
        {% else %}
            <p>No files uploaded yet</p>
        {% endif %}
    </div>
    <div class="card">
    <h2>🔗 Shared Links</h2>

    {% if shared_links %}
        {% for link in shared_links %}
            <div class="file-box">
                <p><strong>{{ link[1] }}</strong></p>

                <a href="{{ url_for('shared', token=link[0]) }}" target="_blank">
                    Open Link
                </a>

                <p>Expires: {{ link[2] }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No shared links yet</p>
    {% endif %}
    </div>

    <!-- Logs -->
    <div class="card">
        <h2>📊 Activity Logs</h2>

        {% for log in logs %}
            <p>{{ log[0] }} → {{ log[1] }} ({{ log[2] }})</p>
        {% endfor %}
    </div>

    <!-- Logout -->
    <form action="/logout">
        <button class="logout">Logout</button>
    </form>

</div>

</body>
</html>