<!DOCTYPE html>
<html>

<head>

    <title>Verify OTP</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-page">

    <div class="login-card">

        <h2>
            📧 Verify OTP
        </h2>

        <!-- FLASH MESSAGES -->

        {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}

                    <div class="flash-message">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}
        {% endwith %}

        <!-- OTP FORM -->

        <form method="POST">

            <input type="text"
                   name="otp"
                   placeholder="Enter OTP"
                   required>

            <input type="password"
                   name="new_password"
                   placeholder="New Password"
                   required>

            <button type="submit">

                Reset Password

            </button>

        </form>

        <p>

            OTP sent to:

            <b>{{ email }}</b>

        </p>

    </div>

</div>

</body>

</html>