<!DOCTYPE html>
<html>

<head>

    <title>Wrong Password</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-page">

    <div class="login-card">

        <h2>
            ❌ Wrong File Password
        </h2>

        <div class="flash-message">

            The password you entered
            is incorrect.

        </div>

        <p>

            Do you want to recover
            the file password?

        </p>

        <a href="/recover-file-password/{{ filename }}">

            <button>

                Recover Password

            </button>

        </a>

        <br><br>

        <a href="/dashboard">

            Back to Dashboard

        </a>

    </div>

</div>

</body>

</html>